:root{
    --vermelho:#E50914;
    --preta:#141414;
  
  }
  
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }


  header .container a-series { 
    text-decoration: none;
 

  }